.wrapper {
  display: flex;
  flex-direction: column;
  width: 425px;
  max-height: 60vh;
  overflow-y: scroll;

  .item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    &.isRead {
      background-color: var(--jobs-bg-color);
    }

    &:hover {
      background-color: var(--jobs-bg-color);
    }

    .body {
      display: flex;
      gap: 12px;

      .logo {
        border-radius: 4px;
        height: fit-content;
        overflow: hidden;
      }

      .content {
        flex: 1;

        .company-name {
          font-size: 1.5rem;
          margin-bottom: 0;
        }

        .text {
          font-size: 1.4rem;
          color: var(--text-second);
        }
      }
    }

    .time {
      font-size: 12px;
      text-align: right;
    }
  }
}
