.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--jobs-bg-color);

  .inner {
    padding: var(--padding-default) 0;
    width: var(--content-width-default);

    .logo {
      display: block;
      width: 52px;
      object-fit: cover;
    }

    .form {
      width: 100%;
      margin-top: 10px;

      .label {
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }
}
