.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--jobs-bg-color);

  .inner {
    padding: var(--padding-default) 0;
    width: var(--content-width-default);

    .title {
      font-size: 2.8rem;
      font-weight: 600;
    }

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 26px;

      .owner {
        display: flex;
        align-items: center;

        .avatar {
          display: block;
          border-radius: 100%;
          object-fit: cover;
          width: 46px;
          margin-right: 10px;
        }

        .name {
          font-size: 1.5rem;
          font-weight: 500;
          margin-bottom: 3px;
          color: var(--text-primary);
        }

        .time {
          font-size: 1.2rem;
          font-weight: 500;
          color: var(--text-second);
        }
      }

      .bookmark {
        color: var(--primary-color);
        cursor: pointer;
      }

      .bookmark-outline {
        cursor: pointer;
      }
    }

    .content {
      margin-top: 26px;
      line-height: 2;
      color: var(--text-primary);
    }
  }
}
