.wrapper {
  height: 324px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;

    .body {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0 16px;

      .button {
        background-color: var(--white-color);
        color: var(--primary-color);
        margin-top: 22px;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .wrapper {
    height: 250px;
    .inner {
      .body {
        .title {
          font-size: 2rem;
        }
      }
    }
  }
}
