@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --font-family: "Public Sans", sans-serif;

  --primary-color: #007456;
  --text-primary: #333;
  --text-second: #555555;
  --white-color: #fff;
  --banner-bg-color: #d0b4b2;
  --border-color: #eee;
  --bg-color-default: #fff;
  --company-card-color: #fff;
  --jobs-bg-color: #0074560d;

  --content-width-default: 1200px;
  --header-height: 80px;
  --header-bg-color: #fff;
  --footer-bg-color: #fff;
  --padding-default: 45px;
  --padding-default-small: 16px;
}

@media only screen and (max-width: 1024px) {
  :root {
    --content-width-default: 924px;
    --padding-default: 30px;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --content-width-default: 720px;
    --padding-default: 20px;
  }
  html {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 575px) {
  :root {
    --content-width-default: 535px;
    --header-height: 70px;
  }
}

@media only screen and (max-width: 426px) {
  :root {
    --content-width-default: 393px;
  }
}

@media only screen and (max-width: 376px) {
  :root {
    --content-width-default: 343px;
  }
}

@media only screen and (max-width: 320px) {
  :root {
    --content-width-default: 288px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family) !important;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--text-primary);
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

// Override antd css
.mj-menu-horizontal,
.mj-menu-item::after,
.mj-menu-submenu::after {
  border: none !important;
  background: unset;
}

.mj-btn-primary,
.mj-btn-default {
  box-shadow: none;
}

.mj-select-selector {
  border: none !important;

  &:focus-within {
    box-shadow: none !important;
  }
}

.mj-input-affix-wrapper:focus-within {
  box-shadow: none !important;
}

.mj-select-selection-item {
  font-size: 1.8rem;
}

.mj-select-selection-placeholder {
  font-size: 1.8rem;
  font-weight: 400 !important;
}

.mj-card-body {
  padding-bottom: 14px !important;
}

.mj-upload-list-item-container {
  display: none;
}

.mj-modal-body::-webkit-scrollbar {
  display: none;
}

// Override quill css
.ql-toolbar.ql-snow {
  border: none;
  font-size: 1.7rem;
}

.ql-container.ql-snow {
  border: none;
  font-size: 1.7rem;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0 !important;
  min-height: 400px;
  max-height: 800px;
  overflow-y: scroll;

  & img {
    display: block;
    width: 50%;
    margin: 6px auto;
  }

  & p {
    line-height: 2;
    color: var(--text-second);
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

//
.no-margin {
  margin: 0 !important;
}

.no-scroll::-webkit-scrollbar {
  display: none !important;
}

.text-default {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--text-primary);
}

.text-second {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--text-second);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mr-14 {
  margin-right: 14px;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
