.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--jobs-bg-color);
  min-height: 50vh;

  .inner {
    padding: var(--padding-default) 0;
    width: var(--content-width-default);

    .grid {
      margin-top: 45px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    .inner {
      .grid {
        margin-top: 25px;
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .wrapper {
    .inner {
      .title {
        font-size: 2rem;
      }
    }
  }
}
