.wrapper {
  .heading {
    font-size: 2.8rem;
    color: var(--primary-color);
    margin-bottom: 6px;

    .logo {
      display: inline-flex;
      align-items: center;
      margin-left: 15px;

      .image {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }

      .logo-text {
        font-size: 2.8rem;
        color: var(--primary-color);
        margin: 0;
      }
    }
  }

  .sub-heading {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .login-form {
    margin-top: 30px;
  }

  .now {
    color: var(--primary-color);
  }
}

@media only screen and (max-width: 426px) {
  .wrapper {
    .heading {
      font-size: 2.2rem;
      .logo {
        .image {
          width: 28px;
          height: 28px;
          margin-right: 6px;
        }
        .logo-text {
          font-size: 2.2rem;
        }
      }
    }
  }
}
