@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Inter", sans-serif;

  --primary-color: #007456;
  --text-primary: #333;
  --text-second: #555555;
  --white-color: #fff;
  --banner-bg-color: #d0b4b2;
  --border-color: #eee;
  --bg-color-default: #fff;

  --content-width-default: 1200px;
  --header-height: 80px;
  --header-bg-color: #fff;
  --footer-bg-color: #fff;
  --padding-default: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family) !important;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--text-primary);
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

// Overide antd css
.mj-menu-horizontal,
.mj-menu-item::after,
.mj-menu-submenu::after {
  border: none !important;
}

.mj-btn-primary,
.mj-btn-default {
  box-shadow: none;
}

.mj-select-selector {
  border: none !important;

  &:focus-within {
    box-shadow: none !important;
  }
}

.mj-input-affix-wrapper:focus-within {
  box-shadow: none !important;
}

.mj-select-selection-item {
  font-size: 1.8rem;
}

.mj-select-selection-placeholder {
  font-size: 1.8rem;
  font-weight: 400 !important;
}

.no-margin {
  margin: 0 !important;
}

.text-default {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--text-primary);
}
