.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--jobs-bg-color);
  min-height: 50vh;

  .inner {
    padding: var(--padding-default) 0;
    width: var(--content-width-default);
  }
}
