.wrapper {
  display: flex;
  justify-content: center;
  height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .inner {
    position: relative;
    width: var(--content-width-default);
    height: 100%;
  }

  .body {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);

    .heading {
      font-size: 2.8rem;
      font-weight: 600;
      color: var(--white-color);
      margin-bottom: 0;
      text-align: center;
    }

    .form-search {
      height: 50px;
      margin-top: 26px;
      border-radius: 50px;
      border: 1px solid var(--border-color);
      box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.03);
      background-color: var(--bg-color-default);

      .job-name {
        height: 48px;
        border: none;
        outline: none;
        font-size: 1.6rem;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;

        input::placeholder {
          font-weight: 400;
        }

        .icon-search {
          font-size: 2rem;
          padding: 0 8px;
          color: var(--text-second);
        }
      }

      .search-btn {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .search-icon {
          display: none;
        }

        .button {
          height: 36px;
          border-radius: 50px;
          margin-right: 10px;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    height: 250px;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    .inner {
      .body {
        .heading {
          font-size: 2rem;
        }
        .form-search {
          .search-btn {
            justify-content: center;
            .button {
              display: none;
            }
            .search-icon {
              display: unset;
            }
          }
        }
      }
    }
  }
}
