.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--jobs-bg-color);

  .inner {
    padding: var(--padding-default) 0;
    width: var(--content-width-default);

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      .number {
        font-size: 4rem;
        color: var(--primary-color);
        margin-bottom: 5px;
      }

      .text {
        font-size: 1.9rem;
        color: var(--primary-color);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    .inner {
      .image {
        position: relative;
        left: 50%;
      }
      .title {
        margin-top: 40px;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .wrapper {
    .inner {
      .image {
        display: none;
      }
      .title {
        margin-top: 0;
      }
    }
  }
}
