.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color-default);

  .inner {
    padding: 45px 0 80px;
    width: var(--content-width-default);

    .label {
      margin-bottom: 0;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 95%;
      padding: var(--padding-default-small);
      border: 1px solid var(--border-color);
      border-radius: 15px;
      background-color: var(--company-card-color);

      .image {
        height: 150px;
        display: block;
        object-fit: cover;
      }

      .name {
        font-size: 1.4rem;
        font-weight: 600;
        margin-top: 10px;
        overflow: hidden;
        max-height: 2.1rem;
        line-height: 2.1rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }
  }
}
