.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;

  .heading {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }

  .desc {
    display: block;
    font-weight: 500;
    margin-bottom: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    margin-top: 20px;
  }
  .container {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 426px) {
  .container {
    .heading {
      font-size: 2rem;
      margin-bottom: 22px;
    }
    .desc {
      font-size: 1.8rem;
    }
  }
}

@media only screen and (max-width: 320px) {
  .container {
    .heading {
      font-size: 1.8rem;
      margin-bottom: 22px;
    }
    .desc {
      font-size: 1.4rem;
    }
  }
}
