.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  background-color: var(--header-bg-color);
  border-bottom: 1px solid #e9eaec;
  z-index: 10;

  .left {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 50%;

    .logo {
      display: flex;
      align-items: center;
      margin-right: 150px;

      .image {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }

      .logo-text {
        color: var(--primary-color);
      }
    }

    .active {
      color: var(--primary-color);
    }
  }

  .right {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 14px;
      cursor: pointer;
    }

    .space {
      margin-right: 24px;
    }

    .mobile-toggle-icon {
      display: none;
      cursor: pointer;
    }

    .button {
      margin-left: 12px;

      &:last-child {
        color: var(--white-color);
        background-color: #212f3f;
      }
    }

    .authorization {
      display: inline-flex;
      align-items: center;
      border-radius: 20px;
      padding: 8px 12px;
      margin: auto 0;
      background-color: var(--jobs-bg-color);
      cursor: pointer;

      .avatar {
        display: block;
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 100%;
        margin-right: 10px;
      }
    }
  }

  .mobile-navigation_bar {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    .left {
      .logo {
        margin-right: 50px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding-left: 24px;
    padding-right: 24px;
    .left {
      display: none;
    }
    .mobile-navigation_bar {
      display: unset;
    }
    .right {
      .icon,
      .notis-icon,
      .badge-icon,
      .space {
        display: none;
        margin-right: 0;
      }
      .mobile-toggle-icon {
        display: unset;
        margin-left: 14px;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    .right {
      .authorization {
        padding: 6px 10px;
        .avatar {
          width: 30px;
          height: 30px;
        }
      }
      .button {
        font-size: 1.4rem;
        margin-left: 8px;
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
}
