.wrapper {
  .head {
    display: flex;
    align-items: center;
    margin-bottom: 18px;

    .logo {
      display: block;
      width: 64px;
      object-fit: cover;
      margin-right: 14px;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .name {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 4px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-height: 2.55rem;
        overflow: hidden;
      }
    }
  }

  .introduction {
    margin-bottom: 10px;
  }
}
