.wrapper {
  margin-top: 16px;

  .head {
    display: flex;
    align-items: center;

    .logo {
      display: block;
      width: 50px;
      object-fit: cover;
      margin-right: 14px;
    }

    .info {
      display: flex;
      flex-direction: column;

      .name {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 10px;
        overflow: hidden;
        max-height: 2.1rem;
        line-height: 2.1rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }

      .options {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .option-item {
          margin-bottom: 10px;
        }
      }
    }
  }

  .introduction {
    text-align: justify;
    margin: 6px 0 16px;
    color: var(--text-primary);
    overflow: hidden;
    max-height: 14.4rem;
    line-height: 2.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .jobs-count {
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--primary-color);
    }
  }
}
