.wrapper {
  .location,
  .scales {
    margin-bottom: 14px;

    .location-head,
    .scales-head {
      display: flex;
      align-items: center;
      margin-bottom: 6px;
    }

    .icon {
      font-size: 2rem;
      margin-right: 6px;
    }

    .location-label,
    .scales-label {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .maps {
    width: 100%;
    height: 250px;
    border: none;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    margin-top: 20px;
  }
}
