.wrapper {
  display: flex;
  justify-content: center;
  height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    height: 250px;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    display: none;
  }
}
