.dark {
  --bg-color-default: #18191a;
  --header-bg-color: #18191a;
  --text-primary: #fff;
  --text-second: #fff;
  --jobs-bg-color: #242526;
  --company-card-color: #242526;
  --footer-bg-color: #18191a;
  --border-color: #242526;
}
