.card {
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  padding: 22px 24px;
  margin-bottom: 16px;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .owner {
      display: flex;
      align-items: center;

      .avatar {
        display: block;
        width: 26px;
        border-radius: 100%;
        object-fit: cover;
        margin-right: 8px;
      }

      .name {
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--text-primary);
      }
    }

    .options {
      cursor: pointer;
    }
  }

  .title {
    display: inline-block;
    margin: 12px 0 9px;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--text-primary);
  }

  .content {
    font-size: 1.4rem;
    color: var(--text-second);
  }

  .footer {
    margin-top: 12px;
  }
}
