.wrapper {
  .head {
    display: flex;
    margin-bottom: 10px;

    .logo {
      display: block;
      width: 88px;
      object-fit: cover;
      border: 1px solid var(--border-color);
      border-radius: 8px;
      padding: 3px;
      background-color: var(--bg-color-default);
      margin-right: 15px;
    }

    .name {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  .body {
    display: flex;
    flex-direction: column;

    .scale,
    .location {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .label {
        display: flex;
        align-items: center;
        color: var(--text-second);
        min-width: 100px;

        .text {
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
    }
  }

  .footer {
    text-align: center;
    margin-top: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    margin-top: 20px;
  }
}
