.wrapper {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  // width: 100%;
  padding: 30px 24px;
  min-height: 100vh;
  background-color: var(--bg-color-default);

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 50%;
    // padding: var(--padding-default);
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
