.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--jobs-bg-color);

  .inner {
    padding: var(--padding-default) 0;
    width: var(--content-width-default);

    .head {
      .title-input {
        border: none;
        outline: none;
        font-size: 3.2rem;
        font-weight: 500;
        color: var(--text-primary);
        min-height: 48px;
        // width: 100%;
        line-height: 1.4;

        &:empty::before {
          color: #b3b3b1;
          content: attr(data-empty-text);
          pointer-events: none;
        }
      }
    }

    .text-editor {
      margin-top: 15px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    .inner {
      .head {
        .title-input {
          margin-bottom: 16px;
        }
      }
    }
  }
}
